{	"contactEmailRot13" = "dmilith@verknowsys.com";
	contactName = "Daniel (dmilith) Dettlaff";
	description = "Versatile Knowlege Systems Scala bundle with better syntax coloring ('Dmilith' theme).";
	name = "Scala - VerKnowSys";
	source = {
		method = "git";
		url = "git://github.com/dmilith/scala.tmbundle.git";
	};
	uuid = "A4380B27-F366-4C70-AAA2-B00D26ED9999";
}
